/* 
* {
  
    font-family: 'Times New Roman', Times, serif;
}
    header
    .container-website{
        margin: 0px 0px 0px 0px;
    }
    
    .navbar{
        background-color:rgb(71, 41, 3);
     font-size: 19px;
       z-index: 9;
    height: auto;
    position: fixed;
    width: 100%;
    }
    .navbar-nav
    {
        background-color:rgb(71, 41, 3);
        position: relative !important;
       width: 100%;
       top: 100%;
    }
    .header_content{
        color: white;
    }
    
    #navbarNav ul li {
        margin-right: 20px;
    }
    
    #navbarNav ul li:last-child {
        margin-right: 0;
    }
    
    #navbarNav ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    #navbarNav ul li a:hover {
        color: rgb(227, 192, 146);
    }
    
    
    @media (width > 768px) {
    .navbar-nav .nav-item {
        text-align: center;
    }}*/
    
        /* #cart-icon {
          position: absolute;
          margin-top:20px;
          margin-bottom:10px;
          right: 20px;
          background-color: rgb(71, 41, 3);
          color: #fff;
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        #cart-icon span {
          margin-left: 5px;
          font-weight: bold;
        }  */
    /* end header */
    /*after header content*/
/* *{
    margin: 0px;
    width: 100%;
} */
/* about us banner */

.aboutus_section {
    background-color: #d2b48c;
    clip-path: ellipse(80% 80% at 50% 5%);
    padding: 50px 0;
}
.content_section {
    background-color: #d2b48c;
    clip-path: ellipse(80% 80% at 50% 5%);
}

.aboutus_content {
    padding: 20px;
    background-color: #a57d56;
    border-radius: 10px;
    margin-top: 170px;
    color: white;
    text-align: center;
}

.aboutus_content p {
    max-width: 100%;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .aboutus_section {
        clip-path: ellipse(100% 100%);
        height: 850px; 
    }
    .kidroom{
        margin-top: 40px;
    }

}

/* aboutus animation */
.slider_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sliderimg {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    margin-bottom: 210px;
    margin-left: 70px;
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.sliderimg span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 60deg)) translateZ(220px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.sliderimg span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    border-radius: 18px;
    height: 100%;
    object-fit: cover;
}

/* @media (width > 768px){
    .sliderimg span {
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(150px);
    }
} */
@media (width < 768px) {
    .slider_body {
        flex-direction: column;
        min-height: auto;
    }

    .sliderimg {
        width: 150px;
        height: 150px;
        margin-left: 0;
        margin-top: 100px;

    }

    .sliderimg span {
        transform: rotateY(calc(var(--i) * 60deg)) translateZ(150px);
    }
    
    
}
/* products */
.about-heading {
    text-align: center;
    margin-bottom: 50px;
}

.about-heading h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.about-heading p {
    font-size: 1.1rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
}

.about-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.about-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.about-item img {
    display: block;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.about-item:hover img {
    transform: scale(1.1) rotateX(5deg) rotateY(5deg);
}

.about-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-item:hover .overlay {
    opacity: 1;
}

.overlay-content {
    color: #fff;
    z-index: 1;
}

.overlay-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.overlay-content p {
    font-size: 1rem;
    margin: 0;
}

/* category */
.category-slider {
    overflow-x: auto;
    white-space: nowrap;
}
.category-item {
    display: inline-block;
    width: 400px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.link{
    text-decoration: none;
}
.category-item img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.hover-card {
    transition: transform 0.3s;
}
.hover-card:hover {
    transform: scale(1.05);
}
.categories-text{
    color: rgb(71, 41, 3);
}
/* Contact Form Styles */
.aboutus_information{
    background-color: #d2b48c;
    padding: 50px 0;
    clip-path: ellipse(80% 80% at 50% 5%);
    margin-top: 50px;
}
@media (max-width: 768px) {

.aboutus_information{
    clip-path: ellipse(100% 100%);  
    }}
    .contactus{
        height: 800px;
    }
    .contactus_button{
            color: black;
           margin-top: auto;
            padding: 10px 30px;
            background-color:  rgb(227, 192, 146) ;
            border: 1px solid rgb(71, 41, 3);
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 0 0 5px rgb(227, 192, 146) ;
            transition: 0.5s;
           

        }
        .contactus_button:hover{
            box-shadow: 0 0 5px  rgb(71, 41, 3) ,0 0 7px rgb(71, 41, 3)
            ,0 0 9px  rgb(71, 41, 3) ,0 0 11px  rgb(71, 41, 3);
        }
.form-control {
    
    border:1px solid  rgb(71, 41, 3); /* Use the desired shade of brown */
}

.form-control:focus {
    border-color: #8B4513; 
    box-shadow: 0 0 1px  rgb(71, 41, 3) ,0 0 3px rgb(71, 41, 3)
    ,0 0 5px  rgb(71, 41, 3) ,0 0 7px  rgb(71, 41, 3);
}

/* videos */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.video-bg {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.content {
   
    transform: translate(-1%, -320%);
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
   
}

    .content h1 {
        font-size: 40px;
    }
    /* main banner text */
    .banner-text1and3 {
        font-size:14px;
    } 
    .banner-text2 {
        font-size:16px;
    } 
/* for large and medium screens  */
    @media (min-width: 768px)
    {
        .content{
        transform: translate(-1%, -400%);
        }
        .content h1 {
        font-size: 47px; 
    }
    /* main banner text responsive*/
    .banner-text1and3 {
        font-size:19px;
    } 
    .banner-text2 {
        font-size:19px;
    } 
   }  
    
   
   .website{
    transform: translateY(-70px); /* Starts off-screen from above */
    opacity: 0;
transition: opacity 2s ease-out, transform 2s ease-out;
/* font-size: 5rem; */
}
.website.visible{
    opacity: 1;
    transform: translateY(0); /* Moves to normal position */
}
